version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: pagamento-postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: pagamento_db
    ports:
      - '5440:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
